<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TIPTOPGateWayBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.123.210/web/ws/r/aws_efsrv"
                binding="basicHttpBinding" bindingConfiguration="TIPTOPGateWayBinding"
                contract="GetTTGateWay.TIPTOPGateWayPortType" name="TIPTOPGateWayPortType" />
        </client>
    </system.serviceModel>
</configuration>