<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TIPTOPServiceGateWayBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.54:6384/ws/r/aws_ttsrv2"
                binding="basicHttpBinding" bindingConfiguration="TIPTOPServiceGateWayBinding"
                contract="GetTTGateWay.TIPTOPServiceGateWayPortType" name="TIPTOPServiceGateWayPortType" />
        </client>
    </system.serviceModel>
</configuration>