<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TIPTOPServiceGateWayBinding" />
        <binding name="TIPTOPGateWayBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.10.212:6384/ws/r/aws_ttsrv2_toptest"
        binding="basicHttpBinding" bindingConfiguration="TIPTOPServiceGateWayBinding"
        contract="GetTTGateWay.TIPTOPServiceGateWayPortType" name="TIPTOPServiceGateWayPortType" />
      <endpoint address="http://192.168.10.212:6384/ws/r/aws_efsrv_toptest"
        binding="basicHttpBinding" bindingConfiguration="TIPTOPGateWayBinding"
        contract="GetTTGateWay.TIPTOPGateWayPortType" name="TIPTOPGateWayPortType" />
    </client>
  </system.serviceModel>
</configuration>