@model List<Ede.Uof.EIP.BM.dl.Manager.MANAGER_CASE_CONFIRM>

<div class="table-responsive">
    @(Html.Kendo().Grid(Model).Name("gridCaseConfirm").Columns(columns =>
    {
        @*案件代號*@
        columns.Bound(c => c.CASE_NO).
        ClientTemplate(Html.ActionLink("#=CASE_NO#", "CaseIn", "Case", new { CASE_ID = "#= CASE_ID#", CRUD_STATUS = "INSERT" }, "").ToHtmlString())
        .Title(Html.BMResource("BM_Case_ID"));

        @*案件名稱*@
        columns.Bound(c => c.CASE_NAME).Title(Html.BMResource("BM_Case_Name"));

        @*客戶代號*@
        columns.Bound(c => c.CUSTOMER_ID).
        ClientTemplate(Html.ActionLink("#=CUSTOMER_ID#", "ClientIn", "Client", new { CUSTOMER_ID = "#= CUSTOMER_ID#", CRUD_STATUS = "VIEW" }, "").ToHtmlString())
        .Title(Html.BMResource("BM_Customer_ID"));

        @*客戶簡稱*@
        columns.Bound(c => c.CUSTOMER_ABBREVIATION).Title(Html.BMResource("BM_Customer_abbreviation"));

        @*負責人員*@
        columns.Bound(c => c.NAME).ClientTemplate(Html.ActionLink("#=NAME#(#=ACCOUNT#)", "UserIn", "User", new { id = "#= USER_GUID#" }, "").ToHtmlString())
        .Title(Html.BMResource("BM_Owner"));

    }).Pageable(pageable => pageable.PageSizes(new[] { 10, 20, 30, 40, 50 })
    .Messages(messages => messages.Display
    (
        Html.BMResource("BM_From") + " {0} " +
        Html.BMResource("BM_To") + " {1} ," +
        Html.BMResource("BM_Total") + ": {2} ")
    ).Messages(messages => messages.ItemsPerPage(""))
    .Messages(messages => messages.Last(""))
    .Messages(messages => messages.Next(""))
    .Messages(messages => messages.First(""))
    .Messages(messages => messages.Previous(""))
    .ButtonCount(5))
    .DataSource(dataSource => dataSource
                .Ajax()
                .Batch(true)
                .PageSize(10)
                .ServerOperation(false)
                .Events(events => events.Error("error_handler"))
                .Model(model => model.Id(p => p.CASE_ID))
                .Destroy("ManagerCaseConfirmDeelte", "Manager"))
    .Sortable())
</div>

@if (Model != null)
{
    string CaseConfirmationTitle = string.Format("{0}( {1} )", Html.BMResource("BM_Case_Confirmation"), Model.Count());

    <script type="text/javascript">
        $(document).ready(function () {
            $("span.CaseConfirmation").html("@CaseConfirmationTitle");
        });
    </script>
}