

<div class="ui top orange attached secondary  segment">
    <h3 class="ui  header">        
            職級
    </h3>
</div>

<div class="ui attached segment" ng-show="showBack()">
    <h3 class="ui header" ng-click="goBack()">        
            <i class="icon ellipsis horizontal"></i>
    </h3>
</div>

<div class="ui clearing attached segment" ng-repeat="item in jobtitles">
    <h4 class="ui left floated header">
        <uof-multi-state-checkbox key="item.Id"
                                  text="item.Name"
                                  default-icon="choice-jobtitle-default"
                                  check-icon="choice-jobtitle-check"
                                  status="2"
                                  on-toogle="onToogle(state, prevState, key, text)"
                                  on-loaded="onLoaded(item.Id)">
        </uof-multi-state-checkbox>

    </h4>
  

</div>




