
@{
    ViewBag.Title = Html.BMResource("BM_CRM_system");
    Layout = "~/Areas/BM/Views/share/_LayoutMasterPage.cshtml";
}

<style>
.divCenter{
    position: absolute;
    top: 50%;          
    left: 50%;
    color:red;
    text-align:center;
    font-size:x-large;
    margin-left: -100px;
}
</style>


<div class="divCenter">@Html.BMResource("BM_LicenseFull")</div>
