<?xml version="1.0" encoding="utf-8"?>
<DeploymentEvent xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/VisualStudio/DeploymentEvent/2013/06">
  <ProjectName>Ede.Uof.Web</ProjectName>
  <SourceControl type="TFS">
    <TfsSourceControl>
      <ProjectItemSpec>$/UofAgile/Product/Release/Src/Ap/Web/Ede.Uof.Web/Ede.Uof.Web.csproj</ProjectItemSpec>
      <ProjectVersionSpec>C8236</ProjectVersionSpec>
    </TfsSourceControl>
  </SourceControl>
  <Build type="TeamBuild">
    <MSBuild>
      <BuildDefinition kind="informative, summary">3.Setup</BuildDefinition>
      <BuildLabel kind="label">vstfs:///Build/Build/5148</BuildLabel>
      <BuildId kind="id">vstfs:///Build/Build/5148</BuildId>
      <BuildTimestamp kind="informative, summary">Fri, 24 Feb 2017 02:56:51 GMT</BuildTimestamp>
      <Configuration kind="informative">TeamBuild</Configuration>
      <Platform kind="informative">AnyCPU</Platform>
      <BuiltSolution>$/UofAgile/Product/Release/Src/Ap/Ede.Uof.Web.sln</BuiltSolution>
    </MSBuild>
  </Build>
</DeploymentEvent>